[user]
	name = GuillaumeC
	email = g.couzy@bee-buzziness.com
[core]
	editor = nvim

[alias]
	l = log --graph --pretty='format:%C(red)%d%C(reset) %C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
	ll = l origin..HEAD
	last = log -1 HEAD
	st = status
	a = add
	ap = add -p
	co = commit -m 
	wip = commit --all -m "wip"
	cowip = co "wip"
	con = commit --no-verify -m
	ca = commit --amend
	fix = commit --fixup=
	ps = push
	psn = push --no-verify
	psf = push --force-with-lease
	pl = pull
	plr = pull --rebase
	c = checkout
	cb = checkout -b
	cm = checkout master
	rom = rebase origin/master
	rim = rebase -i master
	rima = rim --autosquash
	b = branch
	bd = branch -D
	d = diff
[pull]
	ff = only
[color]
	ui = auto
